{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>THSS15</title>
		<link href="http://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{% static "css/common.css" %}">
		<link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
		<link rel="shortcut icon" href="{% static "images/monkey64.ico" %}"/>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="/index/">THSS15</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="/index/">Personal Information</a></li>
							<li class="active" ><a href="">Scores and Rank</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="hero-unit">
				<h2>You can check the score and rank.</h2>
			</div>
			<ul id="myTab" class="nav nav-tabs">
				<li class="active"><a href="#all_score" data-toggle="tab">Score</a></li>
				<li><a href="#rank" data-toggle="tab" id="show_rank">Rank</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="all_score">
					<table class="table">
					    <thead>
					        <tr>
					         	<th>Student Id</th>
					         	<th>Student Name</th>
					         	<th>Course Name</th>
					         	<th>Score</th>
					         	<th>Credit</th>
					         	<th>Type</th>
					      	</tr>
					    </thead>
					    <tbody id="score_container">
					    	{% for score in scores %}
					    		<tr>
					    			<td>{{ score.StuId }}</td>
					    			<td>{{ score.StuName }}</td>
					    			<td>{{ score.CourseName }}</td>
					    			<td>{{ score.Score }}</td>
					    			<td>{{ score.Weigh }}</td>
					    			<td>{{ score.Style }}</td>
					    		</tr>
					    	{% endfor %}
					   	</tbody>
					</table>
				</div>
				<div class="tab-pane fade" id="rank">
					<select id="date_period" class="form-control">
						<option>All The Terms</option>
						<option>Last Year</option>
						<option>Last Term</option>
					</select>
					<table class="table" id="rank_table">
					    <thead>
					        <tr>
					         	<th>Student Name</th>
					         	<th>Average Score</th>
					         	<th>Rank</th>
					         	<th>Fail Number</th>
					         	<th>Total Credit</th>
					      	</tr>
					    </thead>
					    <tbody id="rank_container">
					    	
					   	</tbody>
					</table>
				</div>
			</div>
			<hr>
			<footer>
				<p>&copy; Cong Wang 2016</p>
			</footer>
		</div>
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    	<script src="http://cdn.bootcss.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    	<script src="http://cdn.bootcss.com/holder/2.0/holder.min.js"></script>
		<script src="{% static "js/jquery.cookie.js" %}"></script>
		<script src="{% static "js/scorerank.js" %}"></script>
		<script src="{% static "js/common.js" %}"></script>
	</body>
</html>
